Repository irfnd/react-vite-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --config ./.prettierrc.json

[Update] - Setup husky + lint-staged
  .lintstagedrc
Due: none

[Update] - Setup husky + lint-staged
  .eslintrc.json
Due: prettier --write --config ./.prettierrc.json

[Update] - Setup husky + lint-staged
  .gitignore
  .husky/pre-commit
Due: none

[Add] - LICENSE
  LICENSE
Due: none

[Update] - README.md
  README.md
Due: prettier --write --config ./.prettierrc.json

[Add] - Absolute imports
  jsconfig.json
  vite.config.js
Due: eslint, prettier --write --config ./.prettierrc.json

[Update] - Fix eslint prettier
  .eslintrc.json
  .prettierrc.json
Due: prettier --write --config ./.prettierrc.json

[Update] - Fix minor & update package.json
  .eslintignore
  .eslintrc.json
  .gitignore
  .lintstagedrc
  .prettierrc.json
  package.json
Due: prettier --write --config ./.prettierrc.json

[Update] - Package + lint-staged config
  .eslintignore
  package.json
Due: prettier --write --config ./.prettierrc.json

Path conditions:
  eslint: any of: ./**/*.{js,jsx}
  prettier --write --config ./.prettierrc.json: any of: ./**/*.{js,jsx,json,html,css,md}
